body {
    font-family: Arial, Helvetica, sans-serif;
}
.container1 {
color: aquamarine;
font-size:x-large;
text-align: center;
}

.container2 {
    font-size:smaller;
    flex-direction: row;
    display: flex;
    order: 5;
}

.tabel2 {
    width: 45%;
}

.bild {
    width: 45%;
}