body {
    font-family: Arial, Helvetica, sans-serif;
}
.container1 {
color: aquamarine;
font-size:x-large;
text-align: center;
}

.container2 {
    font-size:smaller;
    flex-direction: row;
    display: flex;
    order: 5;
    justify-content: space-around;
}

.tabel1 {
    width: 45%;
}

table {
    width: 100%;
    border-collapse: collapse;
    width: 100%;  
}

th {
    border: 1px solid #dddddd; 
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: #ddeedd;
  }

.picture {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items:center;

}

.bild {
    width: 50%;
}