body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: 100;
}

marquee1 {
    margin-top: 2%;
    font-size: larger;
}

h3{
    font-size: 11pt;
    font-weight: 100;
}

h4 {
    font-size: 11pt;
    font-weight: 100;
}

.container1 {
color: aquamarine;
font-size:x-large;
text-align: center;
margin-bottom: 50px;
}

.container2 {
    font-size:small;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    font-weight: 300;
}

.tabel1 {
    width: 55%;
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
    align-items: center;
}

table {
    width: 100%;
    border-collapse:collapse;
}

td {
    border: 1px solid #dddddd; 
    text-align: justify;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(49,8, 100, 83,14, 1);
  }

.picture {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items:center;

}

.bild {
    width: 50%;
}

.container3 {
    margin-left: 7%;
    margin-right: 5%;
}
.Uberschriften {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 600;
    text-align: center;
    
}

.container31, .container32 {
    display: flex;
    flex-direction: row;
    margin-bottom: 4%;
}

.Abschnitte {
    border: 1px solid black;
    margin-left: 1%;
    margin-right: 1%;
    flex: 1;
    padding-left: 1%;
    padding-right: 1%;
}

.FunFacts {
    border: 5px dotted aquamarine;
    text-align: center;
    margin-bottom: 5%;
}


.all {
    display: flex;
    flex-direction: row-reverse;
}


.leftbox{

justify-content: center
}

marquee{
    height: 1250px;
    justify-content: center;
}